#app_screenshot
  / Start App Screencast
  .price_badge
  .screencast
    %img{:alt => "", :src => "images/app_screenshot.jpg"}/
/ End App Screencast
#app_description
  / Start App Description
  .header
    .logo= image_tag "anyvine_logo.png", :title => "Anyvine"
    .version Closed Beta
    .clear
  %p 
    Anyvine is building the first complete e-commerce solution for mobile app publishers.
    Our iPhone Library provides wine application developers with the tools needed to offer their 
    users the ability to shop, locate and purchase the wines being discussed, shared, journaled or 
    reviewed from 
    %i within
    their mobile applications, providing for a seamless user experience.
    
  %p
    Anyvine works with e-tailers and wineries, handling inventory location, comparison shopping, 
    order processing and compliance.  Through our unique partnership with 
    %b Wine-Searcher.com,
    Anyvine provides wine app developers with the ability to quickly and easily add the 
    power of wine-searcher's local pricing and location
    engine to their existing applications.
  %ul
    %li 
      %b For App Publishers: 
      iPhone SDK (Library) designed for rapid and simple integration
    %li 
      %b For Wine eTailers: 
      Secure user and payment transfer for order processing & fulfillment
    %li 
      %b For Wineries:
      Offers DTC sales.  Handles order processing, ship compliance and reporting
  .actions
    %p
      If you are interested in participating in our closed beta, 
      contact Bill Strong @
      %a{:href => "mailto:bill@anyvine.com"}bill (at) anyvine.com
    %p
      %b Requirements for Consideration:
      iOS 4.0 or later focused development of a wine or wine-related application. 
    .clear
/ End App Description
.clear