#app_screenshot
  / Start App Screencast
  .price_badge
  .screencast
    %img{:alt => "", :src => "images/app_screenshot.jpg"}/
/ End App Screencast
#app_description
  / Start App Description
  .header
    .logo= image_tag "anyvine_logo.png", :title => "Anyvine"
    .version Closed Beta
    .clear
  %p 
    Anyvine is building the first complete e-commerce solution for mobile app publishers.
    Our iPhone Library is designed to offload the complexity of comparison shopping, purchasing and fulfilling wine for wine app publishers allowing them to focus on their core application.
  %p
    With the Anyvine Library, a mobile app publisher can easily integrate wine sales functionality into their app. 
    On the fulfillment side, Anyvine can work with e-tailers or direct with wineries, handling customer acquisition, order processing and compliance.
  %ul
    %li 
      %b For App Publishers: 
      iPhone SDK (Library) designed for rapid and simple integration
    %li 
      %b For Wine eTailers: 
      Secure user and payment transfer for order processing & fulfillment
    %li 
      %b For Wineries:
      Offers DTC sales.  Handles order processing, ship compliance and reporting
  .actions
    %p
      If you are interested in participating in our closed beta, 
      contact Bill Strong @
      %a{:href => "mailto:bill@anyvine.com"}bill(at)anyvine.com
    %p
      %b Requirements:
      Requires iPhone OS 4.0 or later. WiFi, Edge, or 3G network connection required.
    .clear
/ End App Description
.clear